body {
	background-color: yellow;
}



.linhaCinza {
	background-color: green;
	border-width: 3px;
	border-style: dotted;
	border-color: black;
}


.bg-modificado p {
	padding: 15px;
}

.wt{
	color: white;
}

#miniflag { 
	margin-top: 10px;
	margin-right: 20px;

}
